$color-primary: #F6B40D;
$color-primary-text: #F6B40D;

$color-secondary: #1E4775;
$color-secondary-text: #1E4775;

$color-gray: #47585c;

$color-background: #FFFFFF;
$color-text: #222425;

$color-warning: #DC143C;

$color-twitter: #1DA1F2;