@import '../../styles/common.scss';

.Footer {
  height: 3.125rem;
  margin-top: auto;
  background: $color-background;
  border-top: solid;
  border-top-width: 0.1875rem;
  border-top-color: $color-gray;
}

.FooterElements {
  display: flex;
  width: 8.0rem;
  height: 1.75rem;
  margin: 0 auto;
  border: none;
}

.FooterImage {
  width: 1.75rem;
  height: 1.75rem;
  border: none;
}

.FooterText {
  margin: auto;
  border: none;
  font-size: 0.5rem;
}