@import '../../styles/common.scss';

.Header {
  height: 6.25rem;
  padding: 0rem;
  margin: 0rem;
  background: $color-background;
  border-bottom: solid;
  border-bottom-width: 0.1875rem;
  border-bottom-color: $color-gray;
}

.HeaderTitle {
  width: 12rem;
  border: none;
}

.HeaderIcon {
  width: 3.125rem;
  border: none;
  border-radius: 1.5625rem;
}

.HeaderButton {
  width: 6.0625rem;
  height: 2.25rem;
}

.RightActionContainer {
  margin: 0 0 0 auto;
}
