@import '../styles/common.scss';

.icon {
    width: 8rem;
    height: 8rem;
    border: solid 1px $color-gray;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 4rem;
}

.username {
    font-size : 24px;
    margin-left: 4rem;
    font-weight: bold;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 4rem 2rem 2rem;
    color: $color-secondary;
}

.userContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top:2rem;
    margin-bottom:2rem;
}